[submodule "SVCommon"]
	path = SVCommon
	url = https://github.com/TanukiPenny/SVCommon.git
[submodule "Yggdrasi"]
	path = Yggdrasi
	url = "https://github.com/exectails/Yggdrasil.git#upgrade\\/net_standard"
